.index-slider {
  &__wrapper {
    max-width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      radial-gradient(
        33.06% 190.55% at 66.94% 44.11%,
        #7fb1ed 0%,
        #437fc8 34.66%,
        rgba(28, 80, 143, 0.95) 72.16%,
        #1c4e8a 87.8%,
        #1a467c 100%
      );
    border-radius: 10px;
    margin: 15px 0 70px;
  }

  &__wrapper-bg {
    max-width: 100%;
    background: url(../img/header-slider-bg.svg) no-repeat center;
    object-fit: cover;
    position: relative;
  }

  &__item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 110px;
  }

  &__item-cont {
    max-width: 500px;
    color: #fff;
  }

  &__item-title {
    margin-bottom: 15px;
  }

  &__item-text {
    font-weight: 500;
    font-size: 22px;
    line-height: 55px;
    margin-bottom: 50px;
  }

  &__item-link {
    padding: 18px 46px;
    font-weight: 500;
    background-color: #fff;
    border-radius: 30px;
    line-height: 35px;
    color: rgba(28, 80, 143, 0.95);
  }

  &__item-link:hover {
    color: rgba(28, 28, 28, 0.4);
  }

  &__item-pictur {
    width: 525px;
  }

  &__item-img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.slick-arrow {
  display: block;
  position: absolute;
  z-index: 10;
  top: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  text-indent: -100px;
  overflow: hidden;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background: url(../img/arrow.svg) no-repeat center;
}

.slick-prev {
  left: 13px;
  transform: translateY(-50%);
}

.slick-next {
  right: 13px;
  transform: translateY(-50%) rotate(180deg);
}

.slick-dots {
  position: absolute;
  left: 0;
  bottom: 20px;
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  list-style: none;

  button {
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-indent: -500px;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
  }
  
  li.slick-active {
    button {
      background-color: #fff;
    }
  }
}
